apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{kube_api}}"
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "{{kube_api}}:{{kube_api_port}}"
etcd:
    external:
        endpoints:
{% for host in groups['etcd'] %}
        - http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ hostvars[host]['etcd_client'] }}
{% endfor %}
